*.pyc
.DS_Store
refman.rst
OpenCV4Tegra/
*.user
.sw[a-z]
.*.swp
tags
xcode/OpenCV-iOS/OpenCV-iOS.xcodeproj/project.xcworkspace
xcode/OpenCV-iOS/OpenCV-iOS.xcodeproj/xcuserdata
xcode/OpenCV-iOS/opencv2.xcodeproj/project.xcworkspace
xcode/OpenCV-iOS/opencv2.xcodeproj/xcuserdata
xcode/OpenCV-MacOSX/opencv2.xcodeproj/project.xcworkspace
xcode/OpenCV-MacOSX/opencv2.xcodeproj/xcuserdata
