*.autosave
*.pyc
*.user
.*.swp
.DS_Store
.sw[a-z]
tags
xcode/OpenCV-iOS/OpenCV-iOS.xcodeproj/project.xcworkspace
xcode/OpenCV-iOS/OpenCV-iOS.xcodeproj/xcuserdata
xcode/OpenCV-iOS/opencv2.xcodeproj/project.xcworkspace
xcode/OpenCV-iOS/opencv2.xcodeproj/xcuserdata
xcode/OpenCV-MacOSX/opencv2.xcodeproj/project.xcworkspace
xcode/OpenCV-MacOSX/opencv2.xcodeproj/xcuserdata
tegra/
